### Manipulating webscrapes for cfb

In [18]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs

In [48]:
df = pd.read_excel('U:\Administrative\Personal\cfb\cfb_rank.xlsx')
df=df[df['Rank'] < 165]
df=df[df['Rank'] > 0]
df=df[df['Year'] < 2023]
df=df.sort_values(by='Year')
#df=df.set_index('Year')
df

,Year,Rank,Team,Total,5-Stars,4-Stars,3-Stars,Ave,Points
0,2010,1,Florida,28,5,17,6.0,93.99,324.62
27,2010,27,Virginia Tech,20,0,5,15.0,87.20,214.01
28,2010,36,Oklahoma State,27,0,4,23.0,86.28,213.10
29,2010,45,Mississippi State,28,0,4,21.0,84.41,212.47
30,2010,39,Pittsburgh,24,0,3,21.0,86.43,212.43
...,...,...,...,...,...,...,...,...,...
2527,2022,55,Oregon State,16,0,0,16.0,85.85,177.28
2528,2022,61,UCLA,11,0,6,5.0,88.86,174.09
2529,2022,63,Marshall,25,0,0,25.0,83.50,172.53
2531,2022,57,California,15,0,1,12.0,86.03,171.73
2700,2022,163,Colgate,6,0,0,0.0,0.00,0.00

In [49]:
url = 'https://en.wikipedia.org/wiki/List_of_NCAA_Division_I_FBS_football_programs#:~:text=FBS%20programs%20%20%20%20Team%20%20,%20NSC%2C%20SoCon%20%2021%20more%20rows%20'
r=requests.get(url)
soup=bs(r.content)

table = soup.select('table.wikitable.sortable.jquery-tablesorter')
table=soup.find_all('table')
df1=pd.read_html(str(table))[0]

del df1['Formerconferences']
del df1['JoinedFBS']
df1.columns = ["Team","Nickname","City",'State','Enrollment','Conference','First CFB Year']
df1
#table = soup.select('')
#table = soup.find_all('table')
#df = pd.read_html(str(table))[0]

,Team,Nickname,City,State,Enrollment,Conference,First CFB Year
0,Air Force,Falcons,Colorado Springs,Colorado,4237,Mountain West,1955
1,Akron,Zips,Akron,Ohio,19200,MAC,1891
2,Alabama,Crimson Tide,Tuscaloosa,Alabama,38500,SEC,1892
3,Appalachian State,Mountaineers,Boone,North Carolina,19100,Sun Belt,1928
4,Arizona,Wildcats,Tucson,Arizona,45200,Pac-12,1899
...,...,...,...,...,...,...,...
126,West Virginia,Mountaineers,Morgantown,West Virginia,30000,Big 12,1891
127,Western Kentucky,Hilltoppers,Bowling Green,Kentucky,20300,C-USA,1913
128,Western Michigan,Broncos,Kalamazoo,Michigan,22900,MAC,1905
129,Wisconsin,Badgers,Madison,Wisconsin,44400,Big Ten,1889
130,Wyoming,Cowboys,Laramie,Wyoming,12400,Mountain West,1893

In [50]:
df=df.merge(df1, on= 'Team')   #This merge parameter doesn't include all of the recruiting data, but it grabs the biggest ones that we would want to analyze. 
df

,Year,Rank,Team,Total,5-Stars,4-Stars,3-Stars,Ave,Points,Nickname,City,State,Enrollment,Conference,First CFB Year
0,2010,1,Florida,28,5,17,6.0,93.99,324.62,Gators,Gainesville,Florida,56100,SEC,1906
1,2011,10,Florida,19,1,10,8.0,90.51,258.24,Gators,Gainesville,Florida,56100,SEC,1906
2,2012,5,Florida,23,3,13,7.0,91.78,290.27,Gators,Gainesville,Florida,56100,SEC,1906
3,2013,3,Florida,28,2,14,12.0,90.74,291.89,Gators,Gainesville,Florida,56100,SEC,1906
4,2014,10,Florida,24,1,8,15.0,89.61,267.40,Gators,Gainesville,Florida,56100,SEC,1906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,2018,111,Coastal Carolina,35,0,0,8.0,78.23,120.13,Chanticleers,Conway,South Carolina,10600,Sun Belt,2003
1522,2019,127,Coastal Carolina,30,0,0,8.0,78.62,125.06,Chanticleers,Conway,South Carolina,10600,Sun Belt,2003
1523,2020,110,Coastal Carolina,25,0,0,23.0,81.52,146.90,Chanticleers,Conway,South Carolina,10600,Sun Belt,2003
1524,2021,86,Coastal Carolina,19,0,0,15.0,82.77,154.41,Chanticleers,Conway,South Carolina,10600,Sun Belt,2003
1525,2022,76,Coastal Carolina,19,0,0,17.0,83.05,161.45,Chanticleers,Conway,South Carolina,10600,Sun Belt,2003

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_current_NCAA_Division_I_FBS_football_coaches'
r=requests.get(url)
soup=bs(r.content)

table = soup.select('table.wikitable.sortable.jquery-tablesorter')
table=soup.find_all('table')
df1=pd.read_html(str(table))[0]

In [51]:
with pd.ExcelWriter('U:\Administrative\Personal\cfb\cfb_rank_clean.xlsx') as writer:
    df.to_excel(writer, sheet_name='cfb_recruiting')